<!DOCTYPE html>
<html>
<head>
	<title>Menu</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
</head>
<body>
	<div class="container">
		<form role="form" method="post" action="../web/entradaVeiculo.php">
		  <div class="form-group">
		    <label for="placa">Placa do carro:</label>
		    <input type="text" class="form-control" name="placa">
		  </div>

		  <button type="submit" class="btn btn-default">Submit</button>

		</form>
		<br>
		<a href="../web/templateSituacaoEstacionamento.php">Situação estacionamento</a>
	</div>
</body>
</html>