<html>
	<head>
		<title>
			Gerenciamento do estacionamento
		</title>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
	</head>

	<body>

		<script>
		    function submitForm(id){
		        var preco = id.parentElement.parentElement.getElementsByTagName("input")[0].value;
		        var id = id.parentElement.parentElement.getElementsByTagName("input")[1].value;
		        document.getElementById("preco").value = preco;
		        document.getElementById("id").value = id;
		        document.getElementById("formId").submit();
		    }
		</script>

		<form action="../web/alteraPreco.php" id="formId" method="post">
			<input type="hidden" name="preco" id="preco" />
			<input type="hidden" name="id" id="id" />
		</form>

		<table class="table">
		<!-- BEGIN BLOCK_PRECOS -->
			<tr>
				<td>{NOME_VAGA}</td>
				<td>
					<input type="text" value="{VALOR_VAGA}" name="valor"/>
					<input type="hidden" value="{ID_PRECO}" name="id"/>
				</td>
				<td><button type="submit" onclick="submitForm(this)">Alterar preco</button></td>
			</tr>
		<!-- END BLOCK_PRECOS -->
		</table>
		<br>
		<table class="table">
			<tr>
				<th>Numero da vaga</th>
				<th>Andar da vaga</th>
				<th>Tipo de veiculo para a vaga</th>
			</tr>
			<!-- BEGIN BLOCK_VAGAS -->
  				<tr>
  					<td>{NUMERO_VAGA}</td>
  					<td>{ANDAR_VAGA}</td>
  					<td>{TIPO_VAGA}</td>
  				</tr>
  			<!-- END BLOCK_VAGAS -->
		</table>
	</body>
</html>