<html>
	<head>
		<title>
			Gerenciamento do estacionamento
		</title>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
	</head>

	<body>
		<table>
		<!-- BEGIN BLOCK_TIPOS_VAGA -->
			<tr>
				<td>{NOME_VAGA}</td>
				<td>
					<input type="text" value="{VALOR_VAGA}"/>
				</td>
			</tr>
		<!-- END BLOCK_TIPOS_VAGA -->
		<tr>
			<td colspan="2">
				<a href="#">
					<button>Adicionar novo</button>
				</a>
			</td>
		</tr>
		</table>
	</body>
</html>